/* :root {
  --primary-color: #a24542;
  --secondary-color: #e1b1af;
  --overlay-color: rgba(116, 90, 90, 0.85);
  --menu-speed: 0.75s;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

/* #showcase {
  opacity: 0.5;
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase:before {
  content: "";
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
} */
