/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* max-width: 960px; */
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

:root {
  --primary-color: #a24542;
  --secondary-color: rgb(116, 90, 90);
  --overlay-color: rgba(116, 90, 90, 0.6);
  --menu-speed: 0.75s;
}
body {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  height: 150vh;
  /* width: 100%; */
}

.nav {
  display: flex;
  justify-content: space-between;
  display: block;
  margin-top: 2rem;
  /* margin-right: -50px; */
  width: 100%;
}
.nav-right {
  display: flex;
  justify-content: right;
  margin-top: 1.2rem;
}

.navbar i {
  font-size: 3rem;
  color: rgb(116, 90, 90);
  margin-top: 2rem;
}
.logo {
  display: flex;
  justify-content: space-around;
}
.logo img {
  margin-top: 1rem;
  width: 30%;
}
.basket {
  width: 30%;
}

.basic {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.basic > li > button {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #e1b1af;
  color: #fff;
  border: 0 solid red;
  border-radius: 2rem;
  cursor: pointer;
}
.cards {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
}
h4 {
  font-family: "Trirong", serif;
}
.desc p {
  font-family: "Open Sans", sans-serif;
}
.card button {
  background-color: #e6cecd;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card img:hover {
  transform: scale(1.5);
}

footer {
  /* justify-content: space-between; */
  /* height: 20vh; */
  /* border: #a24542 solid 2px; */
  margin-top: 1rem;
}
form {
  line-height: 1.3rem;
  text-align: center;
}
.follow {
  display: flex;
  margin-right: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
.follow a {
  margin-right: 1rem;
  margin-top: 1rem;
}
@media (max-width: 900px) and (min-width: 600px) {
  body {
    position: relative;
  }
  .logo img {
    width: 40%;
  }
  .cards {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    position: relative;
  }
}
@media (min-width: 900px) {
  body {
    position: relative;
  }
  .logo img {
    width: 40%;
  }
  .cards {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    position: relative;
  }
  h4 {
    font-family: "Sofia", sans-serif;
  }
  .navbar {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  body {
    position: relative;
  }
  .cards {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    position: relative;
  }
  .navbar {
    margin-top: 10px;
  }
  #mag {
    width: 5rem;
  }
}
@media (min-width: 1414px) {
  body {
    position: relative;
  }
  .cards {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    position: relative;
  }
  .navbar {
    margin-top: 10px;
  }
  #mag {
    width: 5rem;
  }
  .card img:hover {
    transform: scale(2);
  }
}
